<h2>Ajouter un nouvel article</h2>

<%= render 'form' %>
<%= form_for @post, url: posts_path, html: { multipart: true } do |form| %>
<% end %></br></br>
<div class="retour">
<%= link_to 'Retour', posts_path %> </div>
