/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-image: url("https://newevolutiondesigns.com/images/freebies/white-wallpaper-9.jpg");
  background-position: center;
  margin: 0;
  padding: 0;
}

h1 {
	font-family : 'Parisienne',cursive;
	font-size : 75px;
	text-align: center;
	color: #401133;
	text-shadow: 0 0 1px;
  text-transform: none;
  position:relative; 
}
table {
  margin: 0 auto;
}
th {
	padding: 15px;
	font-size: 14px;
  text-transform: none;
  text-decoration: none;
  font-family: 'roboto',sans-serif;
  position: relative;
  background-color: #A70045;
  color:#fff
}
td {
	padding : 15px;
  font-family:'roboto';
  font-size: 16px;
  position: relative;
  text-align: center;
  background-color: #FEFDFB;
  font-weight: bold;
}
h2 {
	font-family : 'Parisienne',cursive;
  font-size : 55px;
  text-align: center;
  color: #401133;
  text-shadow: 0 0 1px;
  text-transform: none;
}

tbody {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-left: 20px;
  padding-right: 20px;
  position:relative;
  text-align: center;
  margin-left:20px;
}

ol, ul,{
  font-family:serif;
  font-size: 13px;
  line-height: 18px;
}

.retour {
  text-align: center;
  color: #401133;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  text-decoration: none;
  font-size:14px;
  color: #45152B;
}
  
a:hover {
    color: #45152B;
    background-color: #FFB4B4;
  }
  a:visited {
    color:#45152B;
  }
}
.Add {
  font-style: italic;
}
.ajout {
  text-align: center;
}
.field {
  color:#401133;
  font-family: 'roboto',sans-serif;
}
.ag {
  text-align: center;
}

p{
  text-align: center;
  background-color: #F1F1F1;
  color: #401133;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}
form {
  text-align: center;
}

#notice {
  color: #AB0046;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
.page {
  text-align: center;
}
span {
  position: relative;
  left: 3em;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
